<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description", content=cleanUpText(excerpt))
        meta(name="og:type", content="article")
        meta(name="og:title", content=title||"")
        meta(name="og:description", content=cleanUpText(excerpt))
        if lastUpdate
            meta(name="article:published_time", content=lastUpdate)
        if author
            meta(name="author", content=author)
        title #{title ||  "Article"}
        link(rel="stylesheet" href="/app.css")
    body
        nav
            if topic
                a(href="/topic/"+ topic.name).centered-text #{topic.name}
        article
            header
                if title
                    h1.centered-text.title #{title}
                if author
                    h2.description.centered-text.author #{author}
                if lastUpdate
                    h3.description.centered-text #{moment(lastUpdate).locale("ru").format('LLL')}
                if originalUrl
                    a.centered-text(href=originalUrl) Оригинальная статья 
            section.content
                if content 
                    | !{content}

        if comments[0]
            #comments
                h1.centered-text(style="margin-top: 20px") Комментарии
                each comment in comments
                    .comment(id=comment.id, style="margin:10px auto; padding: 10px;  background: #fff") 
                        h3 !{comment.title}
                        h4.description #{comment.author} - #{moment(comment.lastUpdate).locale("ru").fromNow()}

                        p !{comment.content}
        else
            h1.centered-text Комментариев пока нет